@media screen and (max-width:1300px) {
    .iframe{
        float: none;
        display: flex;
        width: 99%;  
    }
    .left{
        display: flex;
        float: left;
        top: 0%;    
    }
    .right{
        display: flex;
        float: right;
        top: 2.5%;
    }
    .body{
        width: 100%;
        height: 1000px;  

        
    }
    .img{

        display: block;
        max-width: 100%;
    }


   }    