.body{
    height: 768px;
    background: linear-gradient(to bottom left, #99ff99 20%, #ffffff 100%);}
.iframe{
    
    width: 1100px ;
    height: 630px;
    border: black 2px solid;
    border-radius: 20px;

}
.imghome{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;


}

  ul {
    list-style-type: none;
    margin: 50px;
    padding: 0;
    width: 100px;
    
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid black;
    
  }

  li a:hover {
    background-color: darkgreen;
    color: white;
  }

  .active {
    background-color: green;
    color: white;
  }

