.left{
  position: relative;
  top: 20%;
  float: left;
  

}
.right{
  position: relative;
  top: 25%;
  float: right;
}

.body{

  
    height: 768px;
    background: linear-gradient(to bottom left, #99ff99 20%, #ffffff 100%);}
.iframe{

    width: 80%;
    height: 600px;
    border: black 2px solid;
    border-radius: 20px;

}
.imghome{

    width: 100%;
    height: 580px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;


}

  .ul {
    list-style-type: none;
    margin: 25%;
    padding: 0%;
    width: 100%;
    
  }
  .ul2{
    list-style-type: none;
    margin: -25%;
    padding: 0%;
    width: 100%;
  }
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  
    
  }

  li a:hover {
    background-color: darkgreen;
    color: white;
  }

  .active {
    background-color: green;
    color: white;
  }

