.img{

  width: 100%;
  height: 40%;
  border: #000 2px solid;
}


p{
  font-size:large;
}

.linklavoro{
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #000;
  text-align: center;
  background-color: transparent;
}

.left{
  position: relative;
  top: 20%;
  float: left;
  

}
.right{
  position: relative;
  top: 25%;
  
  float: right;
}

.body{

    width: 100%;
    
    height: 800px;

    background-color: #99ff99;
  }
.iframe{

    width: 75%;
    height: 600px;
    border: black 2px solid;
    border-radius: 20px;

}
.imghome{

    width: 85%;
    height: 580px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;


}

  .ul {
    list-style-type: none;
    margin: 10%;
    padding: 0%;
    width: 100%;
    
  }
  .ul2{
    list-style-type: none;
    margin: -10%;
    padding: 0%;
    width: 100%;
  }
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  
    
  }

  li a:hover {
    background-color: darkgreen;
    color: white;
  }

  
  .active {
    background-color: green;
    color: white;
  }



  .caption {
    font-family: Verdana, sans-serif;
    font-size: 10px;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.caption img {
    float: left;
    margin: 0;
    padding: 0;
    background: #fff;
    border: none;
    border: #000 2px solid;
    width: 100%;
    height: 40%;
}
.caption span {
    float: left;
    margin: 0;
    padding: 10px;
    width: 50%;
    color: #dedede;
    background: #222; /* browser che non supportano rgba */
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    bottom: 0;
}
.caption span strong {
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    display: block;
    padding-bottom: 5px;
}